<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxE8yT96hUnSY7CMnLCAX-E8bJJLAqHqg</string>
	<key>GCM_SENDER_ID</key>
	<string>149740829514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adtivemm.chatTalk</string>
	<key>PROJECT_ID</key>
	<string>chat-talk-db</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-talk-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149740829514:ios:2d92f668042313e0215fb3</string>
</dict>
</plist>